
@{
    ViewBag.Title = "ResetPass";
}

@section logged{
    @if (Session == null || Session["userType"] == null || Session["userType"].ToString() != "staff")
    {
        Response.Redirect(Url.Action("Login", "Staff"));
    }

}

<h2>Oops! You shouldn't be here...</h2>

@Html.ActionLink("Go back to Staff Index", "Index", "Staff")

