<head>
    <meta name="description" content="Premium website to purchase Will Ferrell movies">
    <meta name="keywords" content="Will Ferrell, Will Ferrell movies, comedy movies, cheap movies, purchase movies">

</head>
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Will Ferrell top 30ish Movies!</h2>

<br />
<hr />
<br />
<h3> This is the premier site for all Will Ferrell fans. Whether you want to order his movies, or buy some merchandise, you can find it all here. </h3>

<br />
<hr />
<br />
<div class="newspaper">
    <p>
        Are you a fan of Will Ferrell? If so, you have come to the right place. Widely renonwed as the as the best and most comprehensive Will Ferrell website on the internet,
        we have a large selection of Will's greatest movies for sale at unbeatable prices! We have a fantatic section where you can get custom made merchandise from across his movie collection. Now featuring an easy to use login system,  you can create an account with us, making it easier to purchase your favouirte Will Ferrell movies & merch time and time again!
        Not sure what to purchase? Never Fear! Our unique system pulls information about each movie from both IMDB and Rotten Tomatoes, providing tonnes of information and helping you to make sure you make the right choice every time.
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="column">
        <img src="~/Content/imgs/will1.jpg" title="Portait of Will" alt="Portait of Will">
        <p> You can purchase your favourite Will Ferrell movies on our @Html.ActionLink("Movies", "Index", "Movies") page.</p>
    </div>
    <div class="column">
        <img src="~/Content/imgs/will2.jpg" title="Portrait 2" alt="Another Portrait">
        <p> Why not create an @Html.ActionLink("Account", "Index", "Customer") so you can shop hassle free on every visit! </p>
    </div>
</div>
<br />
<hr />
<br />

<h3> Stay up to date with the latest news from the man himself</h3>

<div class=" = twitter">
    <a class="twitter-timeline" data-width="550" data-height="350" href="https://twitter.com/itsWillyFerrell?ref_src=twsrc%5Etfw">Tweets by itsWillyFerrell</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="quote">
    <img src="~/Content/imgs/blades2.jpg" />
    <h5>"They laughed at Louis Armstrong when he said he was gonna go to the moon. Now he’s up there, laughing at them."</h5>
    <cite>Chazz Michael Michaels - Blades of Glory 2007</cite>
</div>

