<head>
    <meta name="description" content="About Will Ferrell">
    <meta name="keywords" content="Will Ferrell biography">
</head>

@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>

<hr />
<br />

<div class="img">
    <img src="~/Content/imgs/aboutus1.jpg" title="about is" alt="pic of the team" />
</div>

<br />
<hr />

<p>
    Here at Will Ferrell top 30ish movies we are dedicated to our art.
    Three friends, with a natural talent for creating beautful websites, were brought together by our love for Will Ferrell movies.
    Our aim is to provide a quality service to all lovers of Will Ferrell movies. We strive to do so by providing you with easy access to Will's best movies to buy, and we guarantee you won't find better prices anywhere else.
    We also offer a wide range of merchandise for those who would like to buy a little more than just movies. We hope you enjoy our site as much as we do.
    Below you can find a bio of Will. In case you are not familiar with his work here is a short video we put together of our favourte moments from his movies.
</p>
<br />

<iframe width="560" height="315" src="https://www.youtube.com/embed/lYC0wXlRB44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br />
<hr />

<h2>About Will</h2>
<hr />
<br />


<div class="img">
    <img src="~/Content/imgs/aboutus2.jpg" title="about Will" alt="pic of will" />
</div>

<p>
    Born in 1967 in Irvine, California, Will Ferrell launched his career in comedy as a member of the Los Angeles-based improv group the Groundlings.
    Following his acclaimed seven-year run as a cast member of Saturday Night Live, he became one of the film industry's biggest comedic draws through off-color hits like Old School (2003) and Anchorman: The Legend of Ron Burgundy (2004).
    Ferrell also co-founded the popular video streaming site Funny or Die, and enjoyed success as a voiceover actor via animated features like Megamind (2010).
</p>

<h3>Intro To Comedy</h3>
<p>

    After his graduation in 1989, Ferrell got his first taste of the NBC television world—not at Saturday Night Live (SNL), but as an intern for the network's sports department. As the story goes, Ferrell had an epiphany about where his true talents lay after ad-libbing an on-air joke that drew laughs from a crowd. Shortly afterward, Ferrell moved back home with his parents and began his pursuit of a career in comedy, taking acting classes and earning parts in regional theater.
</p>
<h3>Off Camera</h3>
<p>

    Ferrell's likable, popular personality was on display at the 2003 Boston Marathon, when the actor successfully completed the race in a time of just over four hours. It might have been better had he not been deluged with fans and fellow runners. "Kids were running next to me, snapping pictures," Ferrell said. "Runners were running up ahead and then having their buddies stand next to me, snapping. It was insane."
    While generally regarded as quiet and unassuming off set, the intensely private Ferrell hasn't been afraid to put his politics out front. His portrayal of Bush was far from flattering, and his refusal to meet with the President while he was still in office, despite overtures from his staff, spoke volumes about his feelings for the politician. Ferrell chalked it up in part to "comedic purposes" out of fear of being influenced by him. But politics did play a role: "The other side of it is, from a political standpoint, I don't want to meet that guy," he said.
    You can check out his full biography <a href="https://www.biography.com/people/will-ferrell-9542601" target="_blank">here</a>
</p>


<div class="quote">
    <img src="~/Content/imgs/Ricky-Bobby.jpg" />
    <h5>"If you're not first - you're last"</h5>
    <cite>Rick-Bobby - Talladega Nights 2006</cite>
</div>


